@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');


body {
    background-image: linear-gradient(to bottom, #161651, #161032);
    background-attachment: fixed;
    font-family: Montserrat, serif;
}

h1 {
    color: #ECE5F0;
    font-size: 4em;
    text-align: center; 
    margin:auto;
    padding-top: 40px;

}

h2 {
    color: #006494;
    font-size: 60px;
    padding-left: 40px;
    padding-top: 150px;

}

p {
    color: #ECE5F0;
    width: 900px;
    text-indent: 20px;
    text-align: left;
    padding-left: 40px;
    padding-block: 40px;
    height: 70px;
}

#paragrafo {
    padding-block: 10px;
    padding-top: 40px;
}

img {
    width: 600px;
    padding-block: 40px;
    margin: auto;
    position: absolute;
    left: 60%;
    top: 40%;

}

main {
    background-color:#006494;
    width: 230px;
    height: 60px;
    border-radius: 15px;
    position: absolute;
    left: 4%;
    box-shadow: 5px 5px 15px#100b24;
     
}

main > p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-top: 0px; 
    padding-left: 0%;
}

main:active {
    background-color:#008dcf
}

